em.slight {
  font-weight: 500;
}

.hidden {
  display: none!important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px!important;
}

.mb40 {
  margin-bottom: 40px!important;
}

.mb60 {
  margin-bottom: 60px!important;
}

.mt80 {
  margin-top: 80px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px!important;
}

.mt40 {
  margin-top: 40px!important;
}

.mt60 {
  margin-top: 60px!important;
}

.mb0 {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0;
}

.mr20 {
  margin-right: 20px!important;
}

.mr10 {
  margin-right: 10px!important;
}

.ml20 {
  margin-left: 20px!important;
}

.ml0 {
  margin-left: 0px!important;
}

.pad0 {
  padding: 0!important;
}

.pt20 {
  padding-top: 20px;ß
}

.pb20 {
  padding-bottom: 20px;ß
}

.br0 {
  border-radius: 0px!important;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.fa-8x {
  font-size: 8em;
}

.icon-green {
  color: #8ac28f;
}

.icon-red {
  color: #cc5454;
}

.icon-blue {
  color: #5875cc;
}

.carousel-inner {
  min-height: 200px;
}

.carousel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  height: 200px;
}

.carousel-list li {
  margin-bottom: 10px;
}

.carousel-indicators {
  bottom: -40px;
}

.home-form {
  background: #fa9043;
  min-  height: 320px;
  padding: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h4.strapline {
  line-height: 1.4em;
  font-weight: 400;
}

.grey {
  color: whitesmoke!important;
}

.white {
  color: white!important;
}

.green {
  color: #5cb85c!important;
}

.help-block {
  color: whitesmoke;
}

.overflow {
  overflow: auto;
}

#price-tabs a {
  color: red!important;
}

.dash-nav-xs li {
  border-right: none;
}

.dash-nav-xs li:last-child {
  border-right: 1px solid #ddd;
}

.dash-nav a {
  color: #333;
}

.dash-nav a:hover  {
  color: #fa9043;
}

.contact-panel p:first {
  margin: 5px 0 0 0;
}

.contact-panel p {
  margin: 0;
}

.panel-heading {
  background: #728796!important;
  color: white!important;
}

.panel-heading h3 {
  color: white!important;
  font-weight: bold;
}

.input-small {
  width: 200px;
}

.input-xsmall {
  width: 80px;
}

.input-inline {
  display: inline-block;
}

.fixed-section {
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0 10px 0;
}

.h1-sm {
  font-weight: 700!important;
  font-size: 2.4em!important;
}

.most-popular {
  position: absolute;
  right: 3px;
  top: -13px;
  z-index: 1000;
}

.most-popular-sm {
  position: absolute;
  right: 3px;
  top: -14px;
  z-index: 1000;
}

.navbar-brand {
  padding: 5px 15px;
}